body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: row;
    border: 1rem solid rgb(245,245,245);
}
.part_left{
    width: 40%;
}
.part_right{
  width: 40%;
}
.part_middle{
 background-color:  rgb(245,245,245);
 width: 20%;
 display: flex;
 justify-content: center;
 align-items: center;
 
}
.boutons{
   display: flex;
   flex-direction: column;
   width: 20%;
}
.para{
    font-size: x-large;
    height: 10%;
    border-radius: 5px;
}

.select{
    background-color:  rgb(23,0,255);
    color: white;
}
